/* 공통 요소 */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
}

h1 {
  font-weight: 700;
  color: #2B292D;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #2B292D;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 각 요소마다 font 스타일 별도 적용 */
button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

/* 요소 선택 또는 활성화시 외곽선 및 그림자(기본설정) 해제 */
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

/* 목록 앞의 기호 및 여백(기본설정) 해제 */
ul,
li,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #fff;
  background-color: #3040C4;
}

.inverted {
  color: #3040C4;
  background-color: #fff;
}

/* Section */
.section {
  margin: 80px 0;
}

.section-category {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.section-title {
  margin-bottom: 24px;
  font-size: 34px;
  line-height: 1.058823529;
  letter-spacing: -0.03em;
}

.section-desc {
  display: inline-block;
}

/* Landing */
.landing {
  text-align: center;
  background-color: #FDDED8;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
}

.landing-desc {
  margin-bottom: 24px;
  line-height: 1.375;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

/* Service */
.service {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 80px 0;
  background-color: #F4F5F7;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

.service-title {
  display: block;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 1.3636363636;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #2B292D;
}

.service-desc {
  display: block;
}

/* Program */

.program .section-category {
  color: #009B4D;
}

.program-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 24px 0 32px 0;
  border-radius: 8px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
  0px 4px 6px rgba(0, 0, 0, 0.05),
  inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  transition: background-color 300ms ease-in-out
  box-shadow 300ms ease-in-out;
}

.program-card img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 195px;
  margin-bottom: 16px;
}

.program-card strong {
  font-size: 18px;
  line-height: 1.333333333;
  font-weight: 700;
  letter-spacing: -0.02em;
  transition: color 500ms ease-in-out;
}

.program-card:hover {
  background-color: #3141C5;
  color: #ffffff;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
   0px 11px 55px rgba(0, 0, 0, 0.07);
  cursor:pointer;
}

.program-desc {
  margin-bottom: 32px;
}

/* Curriculum */
.curriculum {
  display: flex;
  flex-direction: column;
}

.curriculum .section-category {
  color: #0189D1;
}

.curriculum .section-title {
  margin-bottom: 24px;
}

.curriculum-image img{
  display: none;
}

.curriculum .fill-button {
  margin-bottom: 48px;
}

.curriculum .row:first-child .section-desc {
  margin-bottom: 40px;
}

/* Subscription */

.subscription {
  padding: 40px 0;
  margin-bottom: 0;
  background-color: #F2F8FA;
  text-align: center;
}

.subscription-image img {
  margin-bottom: 16px;
  height: 190px;
  width: auto;
}

.subscription-title {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.subscription-desc {
  margin-bottom: 24px;
}

.subscription .input-group input {
  margin-bottom: 8px;
  width: 100%;
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  color: #7B7B7E;
  padding: 12px 16px;
  border: none;
}

.subscription .input-group button {
  margin-bottom: 8px;
  width: 100%;
  height: 48px;
}

.form-notice {
  font-size: 13px;
  line-height: 1.538461538;
  color: #7B7B7E;
}

.form-notice a {
  text-decoration: underline;
  color: #3040C4;
}


/* Footer */

.footer-links {
  margin: 24px 0 24px 15px;
  font-size: 14px;
  line-height: 1.71428571428;
  letter-spacing: -0.01em;
  color: #807F81;
}

.footer-link {
  margin-bottom: 8px;
}

.footer-link:last-child {
  margin-bottom: 0;
}


/* ≥ 768px for Destktop */
@media screen and (min-width: 768px) {
  .landing-title {
    margin-bottom: 32px;
    font-size: 70px;
    line-height: 1.028571428;
  }

  .landing-desc {
    font-size: 22px;
    line-height: 1.454545454;
    margin-bottom: 32px;
  }

  .landing .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555555555;
    letter-spacing: -0.05em;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }


  /* Service */

  .service-title {
    font-size: 26px;
    line-height: 1.307692307;
    font-weight: 700;
  }

  .service-desc {
    font-size: 22px;
    line-height: 1.454545454;
  }

  .service .col-md-6 {
    text-align: left;
  }

  .service .col-md-12:first-child {
    margin-bottom: 0;
  }
  

  /* Section */
  .section-category {
    font-size: 22px;
    line-height: 1.090909090;
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }
  
  .section-desc {
    font-size: 22px;
    line-height: 1.454545454;
  }


  /* Program */

  .program {
    text-align: center;
    padding: 80px 0 96px;
  }

  .program .section-category {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.0909090909;
  }

  .program .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .program .section-desc {
    font-size: 22px;
    line-height: 1.4545454545;
    margin-bottom: 72px;
  }


  /* Curriculum */

  .curriculum .section {
    margin-bottom: 96px;
  }

  .curriculum .row {
    display: flex;
  }

  .curriculum .row:first-child {
    margin-bottom: 24px;
  }

  .curriculum .section-category {
    font-size: 22px;
    line-height: 1.0909090909;
    margin-bottom: 16px;
  }

  .curriculum .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .curriculum .section-desc {
    font-size: 22px;
    line-height: 1.454545454;
    margin-bottom: 72px;
  }

  .curriculum .curriculum-image img{
    display: block;
    max-width: 425px;
    width: 100%;
    height: auto;
  }

  .curriculum .fill-button {
    font-size: 18px;
    line-height: 1.555555555555556;
    width: 160px;
    height: 56px;
    padding: 14px auto;
  }

  .curriculum-detail-desc {
    font-size:18px;
    line-height: 1.4444444444;
  }

  /* Subscription */

  .subscription {
    padding: 80px 0;
  }

  .subscription-conetent {
    display: block;
    text-align: left;
  }

  .subscription-image img {
    text-align: left;
    width: 285px;
    height: auto;
  }

  .subscirption-title {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 16px;
  }

  .subscription-desc {
    font-size: 22px;
    line-height: 1.454545454;
    margin-bottom: 24px;
  }

  .input-group {
    display: flex;
    flex-shrink: 0;
  }

  .form-notice {
    font-size: 14px;
    line-height: 1.714285714;
  }

  .subscription .input {
    margin-right: 8px;
    font-size: 18px;
    line-height: 1.3333333333;
  }

  .subscription .fill-button {
    font-size: 18px;
    line-height: 1.3333333333;
    letter-spacing: -0.02em;
    width: 160px;
  }

  .subscription .input-group {
    margin-bottom: 4px;
  }

  .subscription .col-md-7 {
    text-align: left;
  }

  .subscription .input-group .fill-button {
    width: 160px;
  }

  /* Footer */

  .footer-links {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 1.7142857142;
    letter-spacing: -0.01em;
  }

  .footer-link {
    margin-bottom: 0;
    margin-right: 16px;
  }

/* Custiom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
}