/* COMMMON ELEMENTS */

* {
  box-sizing: border-box;
}

body {
  z-index: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

section {
  margin: 130px 0;
}

ul {
  list-style: none;
}

a,
a:visited,
a:active,
a:link {
  display: block;
  text-decoration: none;
}

.section-content img:hover {
  transition: 0.5s ease-out;
  opacity: 0.7;
}

.section-content img:not(:hover) {
  transition: 0.5s ease-out;
}

/* NAVBAR */

.navbar {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: auto;
}

.nav-container {
  position: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  height: 40px;
  background-color: #000000;
}

.nav-item {
  display: flex;
}

.nav-item li {
  margin-right: 25px;
}

.nav-item li:last-child {
  margin-right: 0;
}

.nav-item a,
.nav-home {
  color: #ffffff;
  font-weight: 700;
}


/* TITLE-SECTION */

.title-section {
  display: flex;
  justify-content: space-between;
  padding: 55px 130px 0;
}

.title-font {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.title-font h5 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  color: #000000;
}

.title-font .colored {
  color: #FF4E00;
}

.title-logo {
  width: 350px;
  height: 325px;
}


/* POPTEN-SECTION */

.section-title {
  display: inline-block;
  margin-bottom: 47px;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.02em;
  padding: 0 130px;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: -0.02em;
  padding: 0 130px;
}

.section-content:last-child {
  margin-right: 0;
}

.section-item {
  display: flex;
  flex-direction: column;
  width: 32%
}

.section-item img {
  margin-bottom: 20px;
}

.section-ctg {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 170%;
  color: #191919;
}

.section-subject {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1px;
  line-height: 170%;
  color: #000000;
}

.section-desc {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 2px;
  line-height: 170%;
  color: #191919;
}


/* AD-BANNER */

.ad-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 500px;
}

.ad-image {
  /* position: absolute; */
  background: url('../asset/img/4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.ad-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 70%;
  /* 타이틀 위치 */
}

.ad-title {
  display: inline-block;
  margin: 0 0 5px 0;
  font-size: 36px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.ad-desc {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

/* ad-logo */

.ad-logo {
  display: flex;
  padding: 0 130px;
  margin-top: -30px;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #000000;
}

.ad-logo img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.ad-cate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 80px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 160%;
  font-weight: 700;
  letter-spacing: 0.02em;
  background-color: #FF4E00;
  color: #000000;
}


/* SUBSCRIPTION */

.subscription {
  display: flex;
  justify-content: flex-end;
  padding: 130px 130px 200px 130px;
  background-image: url('../asset/img/Logo-2.svg');
  background-size: 780px;
  background-repeat: no-repeat;
  background-position: 150px 170px;
}

.subs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%
}

.subs-detail {
  position: relative;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}

.subs-detail .slogan {
  display: flex;
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 150%;
}

.subs-detail .about {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  margin: 60px 0;
}

.button-box {
  display: flex;
  align-items: right;
  text-align: right;
}

.subs-btn {
  position: relative;
  margin-left: 280px;
  background-color: #000000;
  color: #ffffff;
  padding: 15px 20px;
  border: none;
}

.subs-btn a {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.03em;
}

.subscription img {
  display: flex;
}


/* FOOTER-SECTION */

footer {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 180px;
}

.copyright p:last-child {
  margin: 0 0 10px 0;
}

.info ul {
  margin: 0;
  height: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 77px 0;

}

.info-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.info-title {
  margin: 0 10px;
}

.info-item {
  display: flex;
  flex-direction: row;
}

.info-item-bottom,
.info-item-bottom a:visited {
  font-size: 14px;
  margin-right: 20px;
  color: #999999;
}


/* MEDIA */
